#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.

config CUSTOM_APPS_TASK_ZERO
    tristate "Task Zero Example"
    default n
    ---help---
        Enable the Task Zero Example

if CUSTOM_APPS_TASK_ZERO

config CUSTOM_APPS_TASK_ZERO_PROGNAME
    string "Task Zero"
    default "task_zero"
    ---help---
        This is the name of the program that will be used when the NSH ELF
        program is installed.

config CUSTOM_APPS_TASK_ZERO_PRIORITY
    int "Task Zero example task priority"
    default 100

config CUSTOM_APPS_TASK_ZERO_STACKSIZE
    int "Task stack size"
    default DEFAULT_TASK_STACKSIZE

endif
